 .navbar{
	background-image: url("8.jpg");
	color: white;
	background-size: cover;
	width: 100%;
	height: auto;
}

.jumbotron{
	background-image: url("9.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding-top: 230px;
	padding-bottom: 230px;
}

#jumbotron h1{
	margin-top: 200px;
}

#la{
	padding-top: 50px;
}

#li{
	padding-bottom: 50px;
}

#keterangan{
	background-image: url("8.jpg");
	background-size: cover;
	min-height: 200px;
	color: white;
}

#kontribusi{
	min-height: 250px;
background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("7.jpg") no-repeat center center fixed;
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

#kontribusi h2{
	margin-top: 60px;
}

footer{
	background-color: grey;
	background-image: url("8.jpg");
	background-size: cover;
	color: white;
}

#bar{
	width: 100%
}

.lipro{
	background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("9.jpg") no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
	min-height: 300px;
	color: white;
}

.lipro h1{
	margin-top: 80px;
}

.cari{
	background-image: url("8.jpg");
	background-size: cover;
	min-height: 100px;
    color: white;
}

#kotak{
	margin-top: 28px;
}

.isi{
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("7.jpg") no-repeat center center fixed;
	background-attachment: fixed;
	background-size: cover;
    color: white;
}

.card{
	margin: auto;
	margin-top: 100px;
}

#badan{
	background-image: url("8.jpg");
	background-size: cover;
    color: white;
}

.alur{
	min-height: 350px;
	margin-top: 100px;
}

#satu{
	background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*team member*/

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
    padding: 60px 0;
}

section {
    
}

section .section-title {
    text-align: center;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.carousel-inner {
    height: 600px;
}

.carousel-caption {
    height: 800px;
    min-height: 800px;
    max-height: 800px;

}

.carousel-item {

        background-color:rgba(0,0,0,0.2);
}

.navbar-brand {
    color: white;
}
